---
import AuthorCard from "@/components/AuthorCard.astro";
import Base from "@/layouts/Base.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { getAuthors, getAssetURL } from "@/lib/directus";

// Fetch Authors
const authors = await getAuthors();

// Mapping agar sesuai dengan props AuthorCard
const mappedAuthors = authors.map((author) => ({
  id: author.slug,
  body: author.bio || "Penulis di MTs Negeri 1 Pandeglang",
  data: {
    title: author.name,
    image: getAssetURL(author.avatar),
    social: author.social_media, // Pastikan struktur JSON di Directus sesuai (name, icon, link)
  },
}));

const pageTitle = "Penulis";
---

<Base title={pageTitle}>
  <PageHeader title={pageTitle} />
  <section class="section-sm pb-0">
    <div class="container">
      <div class="row justify-center gsap-stagger-container">
        {
          mappedAuthors.map((author) => (
            <div class="mb-14 md:col-6 lg:col-4">
              <AuthorCard data={author} />
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Base>
