.btn {
  @apply relative inline-flex items-center justify-center overflow-hidden rounded border border-transparent px-6 py-2.5 font-semibold capitalize transition-all duration-300 transform hover:-translate-y-1 hover:shadow-lg active:translate-y-0 active:scale-95;

  --x: 50%;
  --y: 50%;
  z-index: 1;
}

.btn-sm {
  @apply rounded-sm px-4 py-1.5 text-sm;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  background: radial-gradient(
    circle at var(--x) var(--y),
    var(--spotlight-color, var(--color-primary)) 0%,
    transparent 50%
  );

  opacity: 0;
  transition: opacity 0.3s ease;
}

.btn:hover::before {
  opacity: 1;
}

.btn-primary {
  @apply border-primary bg-primary text-white dark:border-darkmode-primary dark:bg-darkmode-primary dark:text-text-dark;

  --spotlight-color: rgba(255, 255, 255, 0.4);
}

.btn-outline-primary {
  @apply border-primary bg-transparent text-primary dark:border-darkmode-primary dark:text-darkmode-primary;

  @apply hover:text-white dark:hover:text-black;

  --spotlight-color: var(--color-primary);
}

.dark .btn-outline-primary {
  --spotlight-color: var(--color-darkmode-primary);
}
