input#nav-toggle:checked + label #show-button {
  @apply hidden;
}
input#nav-toggle:checked + label #hide-button {
  @apply block;
}
input#nav-toggle:checked ~ #nav-menu {
  @apply block;
}
.swiper-pagination-bullet {
  @apply !h-2.5 !w-2.5 !rounded-full !bg-gray-300 !opacity-100 transition-all duration-300 ease-in-out dark:!bg-gray-700;
  margin: 0 6px !important;
}
.swiper-pagination-bullet-active {
  @apply !w-8 !bg-primary dark:!bg-primary;
}
