---
import Base from "@/layouts/Base.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { getTags, getArticles } from "@/lib/directus";
import { humanize } from "@/lib/utils/textConverter";

const tags = await getTags();
const articles = await getArticles();
const allUsedTags = articles
  .flatMap(
    (article) => article.tags?.map((t: any) => t.tags_id?.name || "") || [],
  )
  .filter(Boolean);
---

<Base title={"Tagar"}>
  <PageHeader title={"Daftar Tagar"} />
  <section class="section">
    <div class="container text-center">
      <ul class="gsap-stagger-container">
        {
          tags.map((tag) => {
            const count = allUsedTags.filter((c) => c === tag.name).length;
            return (
              <li class="m-3 inline-block">
                <a
                  href={`/tags/${tag.slug}`}
                  class="block rounded bg-light px-4 py-2 text-xl text-text-dark dark:bg-darkmode-light dark:text-darkmode-text-dark hover:bg-primary hover:text-white transition-colors duration-300"
                >
                  <span class="mr-1">#</span>
                  {humanize(tag.name)}{" "}
                  <span class="ml-2 rounded bg-body px-2 text-sm dark:bg-darkmode-body">
                    {count}
                  </span>
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </section>
</Base>
